<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Basic.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DC194CBC1FB8CEF0000E0685</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC194CD01FB8CEF0000E0685</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DC194CDB1FB8CEF0000E0685</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
